@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center inicio">
    <h1 class="tituloInicio display-4 text-white">Controla las mantenciones de tu vehiculo</h1>
    <img class="imagenInicio img-fluid " src="/inicio.png" />
</div>
