@model AppMantenciones.Models.Mantencion

<h1>Ingresar Mantencion</h1>
<div class="row text-white">
    <form asp-action="Create">
        <label>Tipo de mantencion</label>
        <select asp-for="IdTipoMantencion" class="form-select mb-3" asp-items="ViewBag.IdTipoMantencion"></select>

        <label>Descripcion</label>
        <textarea asp-for="Descripcion" class="form-control mb-3" id="descripcionM" rows="3" required></textarea>

        <label>Precio</label>
        <input asp-for="Precio" class="form-control mb-3" id="precio" required/>

        <label>Vehiculo</label>
        <select asp-for="IdVehiculo" class="form-select mb-3" asp-items="ViewBag.IdVehiculo"></select>

        <label>Taller/mecanico</label>
        <select asp-for="IdTaller" class="form-select mb-3" asp-items="ViewBag.IdTaller"></select>

        <div class="row">
            <div class="mt-3 col">
                <input type="submit" value="Crear" class="btn btn-info" />
                <input type="submit" value="Limpiar" class="btn btn-secondary" id="limpiarMantencion" />
            </div>
            <div class="mt-3 text-end col">
                <a asp-action="Index" value="Crear" class="btn btn-dark">Ver tabla</a>
            </div>
        </div>


    </form>
</div>